.title {
  margin: 0 auto 16px;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 1.09;
  letter-spacing: -0.02em;

  @media (min-width:768px) {
    margin-bottom: 20px;
    font-size: 80px;
    line-height: 1;
  }

  @media (min-width:768px) and (max-width:1440px) {
    max-width: 658px;
  }
}

.title span {
  color: var(--primary-green-color);
}

.text {
  max-width: 292px;
  margin: 0 auto 32px;
  text-align: center;
  color: var(--opacity-black-color);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.01em;

  @media (min-width:768px) {
    max-width: 492px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.33;
  }
}