.navWrapper {
  display: flex;
  justify-content: center;
  gap: 8px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }
}

.btnWrapper {
  display: flex;
  gap: 4px;

  @media screen and (min-width: 768px) {
    gap: 8px;
  }
}

.numberBtn {
  border-radius: 60px;
  width: 40px;
  height: 40px;
  color: #a3a3a3;
  font-weight: 500;
  line-height: 1.42;
}

.activeBtn {
  color: var(--primary-white-color);
  background-color: var(--primary-green-color);
  transition: background-color var(--transition);
}

.activeBtn:hover {
  background-color: var(--hovered-green-color);
}