.logoLink {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 154px;

  span {
    font-family: var(--secondary-font);
    font-size: 18px;
    letter-spacing: -0.02em;
    align-self: center;
    flex-shrink: 0;
    line-height: 1;
  }

  @media (min-width:768px) {
    width: 197px;

    span {
      font-size: 24px;
    }
  }
}

.logoLink.footer {
  svg {
    --color1: #E8E8E2;
    --color2: #6D8434;
  }

  span {
    color: #E8E8E2;
  }
}