.summeryWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 17px;

  @media screen and (min-width: 768px) {
    margin-bottom: 26px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 16px;
  }
}

.summeryWrapper > span:first-of-type {
  width: 38px;
  height: 38px;
  padding: 10px;
  background-color: var(--primary-green-color);
  border-radius: 30px;

  @media screen and (min-width: 768px) {
    width: 42px;
    height: 42px;
    padding: 12px;
  }
}

.summeryWrapper > span:last-of-type {
  font-size: 24px;

  @media screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 1;
  }
}

.deleteAll {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 44px;
  }
}

.deleteAll > span {
  font-weight: 500;
  line-height: 1.28;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.25;
  }
}

.deleteBtn {
  width: 24px;
  height: 24px;
}