.section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  transition: all 500ms;

  @media screen and (min-width: 768px) {
    gap: 50px;
  }

  @media screen and (min-width: 1440px) {
    min-height: 1249px;
    width: 925px;
    gap: 40px;
  }
}

.loaderWrapper {
  padding-top: 60px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    padding-top: 110px;
    padding-bottom: 200px;
  }

  @media screen and (min-width: 1440px) {
    width: 925px;
    min-height: 1249px;
    padding-top: 140px;
    padding-bottom: 200px;
  }
}

.loaderWrapper .loader {
  position: static;
  width: 150px;
  height: 150px;
  right: unset;
}