.imgWrapper {
  flex-shrink: 0;
  width: 74px;
  height: 74px;
  border-radius: 10px;
  padding: 9px;
  background-color: var(--primary-white-color);
}

.productButton {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 20px;
  height: 20px;
  background-color: var(--primary-white-color);
}

.productButton svg {
  width: 12px;
  height: 12px;
  stroke: none;
  fill: var(--primary-green-color)
}

.cartBtn {
  position: absolute;
  right: 12px;
}

.productName {
  margin-bottom: 12px;
}

.descriptionWrapper li:first-of-type {
  display: block;
  margin-bottom: 6px;
}

.descriptionWrapper li:nth-of-type(2) {
  margin-right: 9px;
}