.heroSection {
  padding-top: calc(74px + 72px);
  padding-bottom: 74px;

  @media (min-width:768px) {
    padding-top: calc(96px + 116px);
  }

  @media (min-width:1440px) {
    padding-top: calc(96px + 77px);
  }
}

.heroSection {
  h1 {
    margin: 0 auto;
    margin-bottom: 16px;
    text-align: center;
    font-size: 44px;
    font-weight: 500;
    line-height: 1.09;
    letter-spacing: -0.02em;

    @media (min-width:768px) {
      margin-bottom: 20px;
      max-width: 658px;
      font-size: 80px;
      line-height: 1;
    }

    @media (min-width:1440px) {
      max-width: 100%;
    }
  }

  span {
    color: var(--primary-green-color);
  }

  p {
    max-width: 292px;
    margin: 0 auto;
    margin-bottom: 32px;
    color: var(--opacity-black-color);
    text-align: center;
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.01em;

    @media (min-width:768px) {
      max-width: 492px;
      margin-bottom: 40px;
      font-size: 18px;
      line-height: 1.33;
    }
  }
}

.imgWrapper {
  position: relative;
}

.bannerImg {
  border-radius: 30px;
  width: 100%;
}

.organicFoodImg {
  position: absolute;
  top: -7px;
  right: 8px;
  width: 100px;
  height: 100px;
  animation: rotate 10000ms linear infinite;

  @media (min-width:768px) {
    top: -30px;
    right: 10px;
  }

  @media (min-width:1440px) {
    top: -50px;
    right: 20px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}