.section {
  position: relative;
  min-height: 2000px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  transition: all 500ms;

  @media (min-width:768px) {
    min-height: 1500px;
    gap: 50px;
  }

  @media (min-width:1440px) {
    min-height: 1249px;
    width: 925px;
    gap: 0
  }
}

.optionalContainer {
  min-height: 356px;
  transition: all 500ms;

  @media (min-width:768px) {
    min-height: 360px;
  }

  @media (min-width:1440px) {
    min-height: 1249px;
  }
}

.loader {
  width: 150px;
  height: 150px;
  right: unset;
  top: 100px;
  left: 113px;

  @media (min-width:768px) {
    left: 309px;
  }

  @media (min-width:1440px) {
    left: 404px;
  }
}

.productList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  @media (min-width:768px) {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 32px;
  }

  @media (min-width:1440px) {
    column-gap: 20px;
    row-gap: 40px;
    margin-bottom: 0;
  }
}

.productItem {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--secondary-white-color);

  @media (min-width:768px) {
    width: calc((100% - 32px) / 2);
  }

  @media (min-width:1440px) {
    width: calc((100% - 40px) / 3);
    height: 363px;
  }
}