/* *,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
} */
:root {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color-scheme: light dark;
  color: var(--primary-black-color);
  background-color: var(--primary-white-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

:root::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.greenScrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.greenScrollbar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--primary-green-color);
}