.imgWrapper {
  border-radius: 10px;
  background-color: var(--primary-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 19px;
  padding-bottom: 19px;

  img {
    width: 140px;
    height: 140px;
  }
}

.productName {
  margin-bottom: 10px;
  max-width: 100%;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.descriptionWrapper {
  margin-bottom: 40px;

  @media (min-width:1440px) {
    margin-bottom: 20px;
  }
}

.descriptionWrapper li:first-of-type {
  margin-right: 8px;
}

.descriptionWrapper li:nth-of-type(2) {
  @media (max-width:1440px) {
    margin-right: 9px;
  }
}

.descriptionWrapper li:nth-of-type(3) {
  @media (min-width:1440px) {
    margin-top: 6px;
    display: block;
  }
}

.priceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  span {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;

    @media (min-width:768px) {
      font-size: 20px;
      line-height: 1.2;
    }
  }
}