.navWrapper {
  display: flex;
  justify-content: center;
  gap: 8px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }
}

.btnWrapper {
  display: flex;
  gap: 4px;

  @media screen and (min-width: 768px) {
    gap: 8px;
  }
}

.arrowBtn {
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: var(--secondary-white-color);
  border-radius: 60px;
}

.arrowBtn > svg {
  stroke: #a3a3a3;
}

.rotatedBtn {
  rotate: 180deg;
}

.arrowBtn:disabled svg {
  stroke: #a3a3a34d;
}

.numberBtn {
  border-radius: 60px;
  width: 40px;
  height: 40px;
  color: #a3a3a3;
  font-weight: 500;
  line-height: 1.42;
}

.activeBtn {
  color: var(--primary-white-color);
  background-color: var(--primary-green-color);
}

.ellipsis {
  width: 40px;
  height: 40px;
  padding: 10px 15.5px;
  text-align: center;
  align-content: end;
  color: #A3A3A3;
}