.navWrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.arrowButtonWrapper {
  display: flex;
  gap: 4px;
}

.button {
  background-color: var(--primary-white-color);
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.activeButton {
  background-color: var(--primary-green-color);
}

.testWrapper svg {
  rotate: 180deg;
}