.container {
  @media (min-width:320px) and (max-width: 374.98px) {
    max-width: 375px;
  }

  @media (min-width: 375px) {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: 1440px) {
    width: 1304px;
  }
}