.productCardButton {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: var(--primary-green-color);
}

.icon {
  width: 18px;
  height: 18px;
  stroke: none;
  fill: var(--primary-white-color);
}

.icon.optionalClass {
  fill: none;
  stroke: var(--primary-white-color);
}