.homeNavLink,
.cartNavLink {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid var(--primary-green-color);
  font-weight: 500;
  line-height: 1.28;
  transition: color var(--transition), border-color var(--transition);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.33;
  }
}

.homeNavLink > span,
.cartNavLink > span {
  position: relative;
  z-index: 5;
}

.homeNavLink:hover,
.cartNavLink:hover {
  color: var(--primary-green-color);
  border-color: var(--hovered-green-color);
}

.headerCartSummery {
  margin-bottom: 0;
}

.headerCartSummery > span:first-of-type {
  width: 14px;
  height: 14px;
  padding: 0;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    width: 18px;
    height: 18px;
  }
}

.headerCartSummery svg {
  --color1: var(--primary-green-color);
}

.headerCartSummery > span:last-of-type {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    font-size: 18px;
    line-height: 1.33;
  }
}

.homeNavLink.activeLink,
.cartNavLink.activeLink {
  color: var(--primary-white-color);
  border-color: transparent;
}

.cartNavLink.activeLink svg {
  --color1: var(--primary-white-color);
}

.homeNavLink::after,
.cartNavLink::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 100%;
  content: '';
  pointer-events: none;
  background-color: transparent;
  border-radius: 30px;
  transition: left var(--transition), background-color var(--transition);
}

.cartNavLink::after {
  left: -100%;
}

.homeNavLink.activeLink::after,
.cartNavLink.activeLink::after {
  left: 0;
  background-color: var(--primary-green-color);
}

.homeNavLink.activeLink:hover::after,
.cartNavLink.activeLink:hover::after {
  background-color: var(--hovered-green-color);
}