.header {
  width: 100%;
  height: 74px;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  padding: 18px 0;
  background-color: var(--primary-white-color);

  @media (min-width:768px) {
    height: 96px;
    padding: 24px 0;
  }
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  gap: 6px;

  @media (min-width:768px) {
    gap: 16px;
  }

  @media (min-width:1440px) {
    gap: 24px;
  }
}

.navigation > li:first-child {
  width: 77px;
  height: 38px;

  @media screen and (min-width: 768px) {
    width: 104px;
    height: 48px;
  }
}

.navigation > li:last-child {
  width: 38px;
  height: 38px;

  @media screen and (min-width: 768px) {
    width: 153px;
    height: 48px;
  }
}

.homeNavLink,
.cartNavLink {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid var(--primary-green-color);
  font-weight: 500;
  line-height: 1.28;
  transition: color 300ms ease-in, border-color 300ms ease-in;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.33;
  }
}

.homeNavLink > span,
.cartNavLink > span {
  position: relative;
  z-index: 5;
}

.homeNavLink:hover,
.cartNavLink:hover {
  color: var(--primary-green-color);
  border-color: var(--hovered-green-color);
}

.cartNavLink svg {
  --color1: var(--primary-green-color)
}

.cartNavLink > span:first-of-type {
  @media screen and (max-width: 767.98px) {
    margin-right: 0;
  }
}

.cartNavLink > span:last-of-type {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.homeNavLink.activeLink,
.cartNavLink.activeLink {
  color: var(--primary-white-color);
  border-color: transparent;
}

.cartNavLink.activeLink svg {
  --color1: var(--primary-white-color);
}

.homeNavLink::after,
.cartNavLink::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 100%;
  content: '';
  pointer-events: none;
  background-color: transparent;
  border-radius: 30px;
  transition: left 300ms ease-in, background-color 300ms ease-in;
}

.cartNavLink::after {
  left: -100%;
}

.homeNavLink.activeLink::after,
.cartNavLink.activeLink::after {
  left: 0;
  background-color: var(--primary-green-color);
}

.homeNavLink.activeLink:hover::after,
.cartNavLink.activeLink:hover::after {
  background-color: var(--hovered-green-color);
}