.header {
  width: 100%;
  height: 74px;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  padding: 18px 0;
  background-color: var(--primary-white-color);

  @media (min-width:768px) {
    height: 96px;
    padding: 24px 0;
  }
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  gap: 6px;

  @media (min-width:768px) {
    gap: 16px;
  }

  @media (min-width:1440px) {
    gap: 24px;
  }
}

.homeNavLink {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid var(--primary-green-color);
  border-radius: 30px;
  transition: border-color var(--transition-duration);

  @media (min-width:768px) {
    padding: 12px 28px;
    font-size: 18px;
  }
}

.homeNavLink.activeLink {
  border-color: transparent;
  transition: border-color var(--transition-duration);
}

.homeNavLink > span {
  position: relative;
  z-index: 5;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.33;
  transition: color var(--transition-duration);

  @media (min-width:768px) {
    font-size: 18px;
  }

  @media (min-width:1440px) {
    gap: 24px;
  }
}

.homeNavLink.activeLink > span {
  color: var(--primary-white-color);
  transition: color var(--transition-duration);
}

.cartNavLink {
  position: relative;
  border: 1px solid var(--primary-green-color);
  border-radius: 30px;
  transition: border-color var(--transition-duration);

  @media (min-width:768px) {
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 5px;
  }
}

.cartNavLink.activeLink {
  border-color: transparent;
  transition: border-color var(--transition-duration);
}

.headerCart {
  gap: 0px;
}

.cartNavLink span {
  position: relative;
  z-index: 5;
  transition: color var(--transition-duration);
}

.cartNavLink.activeLink span {
  color: var(--primary-white-color);
  transition: color var(--transition-duration);
}

.cartNavLink svg {
  position: relative;
  z-index: 5;
  width: 38px;
  height: 38px;
  fill: var(--primary-green-color);
  transition: fill var(--transition-duration);
}

.cartNavLink.activeLink svg {
  fill: var(--primary-white-color);
  transition: fill var(--transition-duration);
}

.homeNavLink::after {
  width: 38px;
  left: calc(100% + 6px);
  transition: width var(--transition-duration), left var(--transition-duration);

  @media (min-width:768px) {
    left: calc(100% + 16px)
  }

  @media (min-width:1440px) {
    left: calc(100% + 24px)
  }
}

.cartNavLink::before {
  width: 75px;
  left: calc(-100% + 6px);
  transition: width var(--transition-duration), left var(--transition-duration);

  @media (min-width:768px) {
    left: calc(-100% + 16px);
  }

  @media (min-width:1440px) {
    left: calc(-100% + 24px)
  }
}

.homeNavLink::after,
.cartNavLink::before {
  height: 100%;
  position: absolute;
  top: 0;
  display: block;
  content: '';
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid transparent;
  transition: width var(--transition-duration), left var(--transition-duration), border var(--transition-duration), background-color var(--transition-duration);

  @media (min-width:768px) {
    width: 100%;
  }
}

.homeNavLink.activeLink::after,
.cartNavLink.activeLink::before {
  width: 100%;
  left: 0;
  border: 1px solid transparent;
  background-color: var(--primary-green-color);
  transition: width var(--transition-duration), left var(--transition-duration), border var(--transition-duration), background-color var(--transition-duration);
}