.nothingFoundWrapper {
  padding: 62px 28px 100px 28px;

  @media (min-width:768px) {
    width: 371px;
    margin: 0 auto;
    padding: 110px 0 200px 0;
  }

  @media (min-width:1440px) {
    padding-top: 140px;
  }

  h3 {
    width: 261px;
    margin-bottom: 14px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.11;

    @media (min-width:768px) {
      width: 100%;
      font-size: 20px;
      line-height: 1.2;
    }

    span {
      color: var(--primary-green-color);
    }
  }

  p {
    color: var(--secondary-black-color);
    text-align: center;
    font-size: 14px;
    line-height: 1.28;

    @media (min-width:768px) {
      font-size: 18px;
      line-height: 1.33;
    }
  }
}