.section {
  padding-top: calc(74px + 36px);
  padding-bottom: 74px;

  @media (min-width:768px) {
    padding-top: calc(96px + 58px);
  }

  @media (min-width:1440px) {
    padding-top: calc(96px + 77px);
  }
}