.section {
  padding-top: 40px;
  padding-bottom: 80px;

  @media (min-width:768px) {
    padding-bottom: 100px;
  }

  @media (min-width:1440px) {
    padding-top: 60px;
    padding-bottom: 140px;
  }
}

.container {
  @media (min-width:1440px) {
    display: flex;
    gap: 40px;
  }

  aside {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 80px;

    @media (min-width:768px) {
      padding-top: 100px;
      gap: 100px;
    }

    @media (min-width:1440px) {
      padding-top: 0;
      gap: 40px;
      width: 275px;
    }
  }
}