.container {
  padding-top: 40px;
  padding-bottom: 80px;

  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 28px;
    display: flex;
    gap: 40px;
  }

  aside {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 80px;

    @media screen and (min-width: 768px) {
      padding-top: 100px;
      gap: 64px;
    }

    @media screen and (min-width: 1440px) {
      padding-top: 0;
      gap: 40px;
      width: 279px;
    }
  }
}