.section {
  position: relative;
  min-height: 2000px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: space-between;
  transition: all 500ms;

  @media (min-width:768px) {
    min-height: 1500px;
    gap: 50px;
  }

  @media (min-width:1440px) {
    min-height: 1249px;
    width: 925px;
    gap: 40px;
  }
}

.optionalContainer {
  min-height: 356px;
  transition: all 500ms;

  @media (min-width:768px) {
    min-height: 360px;
  }

  @media (min-width:1440px) {
    min-height: 1249px;
  }
}

.loader {
  width: 150px;
  height: 150px;
  right: unset;
  top: 100px;
  left: 113px;

  @media (min-width:768px) {
    left: 309px;
  }

  @media (min-width:1440px) {
    left: 404px;
  }
}